<div class="division">
    <h2 class="heading" *ngIf="!userName">My App....!</h2>
    <h2 class="heading" *ngIf="userName">Welcome {{userName}}</h2>
    &nbsp;<button (click)="login()" class="btn">login</button>&nbsp;
    <button routerLink="/signUp" class="btn">signup</button>&nbsp;
    <button (click)="StudentActivity()" class="btn" >StudentActivity</button>&nbsp;
    <button routerLink="/student/studentDemo" class="btn">studentDemo</button>&nbsp;
    <button (click)="directives()" class="btn">Directives</button>&nbsp;
    <button (click)="show()" class="btn">JSON</button>&nbsp;
    <button class="btn" (click)="lifeCycleHooks()">lifeCycleHooks</button>&nbsp;
    <button (click)="parent()" class="btn">parent</button>&nbsp;
    <button (click)="child()" class="btn">child</button>&nbsp;
    <button (click)="apiCall()" class="btn">ApiCall</button>&nbsp;
    <button (click)="getApiCall()" class="btn">GetApiCall</button>&nbsp;
    <button (click)="form()" class="btn">form</button>&nbsp;
    <button (click)="getById()" class="btn">getById</button>&nbsp;
    <button (click)="deleteApi()" class="btn">deleteApi</button>&nbsp;
    <button (click)="update()" class="btn">update</button>&nbsp;
    <button (click)="subject()" class="btn">subject</button>&nbsp;
    <button (click)="viewChild()" class="btn">viewChild</button>&nbsp;

    
    


</div>
