<!-- <h2 class="user_name"> hello...{{studentName}}</h2><br>
<div>
    <form class="container">
        <h2>{{formTitle}}</h2>
        Name: <input type="text"><br> <br>
        password: <input type="text"><br> <br>
        <button class="btn">submit</button>

    </form>
</div>
<p>reaceived amount={{amount}}</p>
<p>{{isFevCity}}</p> -->
<!--<p>{{typeof(isFevCity)}}</p> we can not use typeof operator in interpolation -->
<!--arthematic operation is allow in interpolation-->
<!-- <p>{{40+60}}</p> -->
<!--fumction/methods is allow in interpolation-->
<!-- <p>{{testingInterpolation(34,40)}}</p> -->
<!--assignment operator is not allow in interpolation
    = - assignment operator
    == -equality operator----yes
    === - equality operator(it wii check value as well as datatype)----yes-->
<!-- <p>{{isFevCity==false}}</p><br>

<p>{{isFevCity===false}}</p><br> -->

<!-- 2)property binding-->

<!-- <input type="text" [value]="myName"><br>
<input type="radio" [checked]="gender"><br>
<input type="text" value="{{myName}}"><br><br>
<input type="text" disabled="{{isDisabled}}"><br>--it is not applicable
<input type="text" [disabled]="isDisabled"> -->



<!-- 2)event binding click,focus,blur-->
<!-- <button (click)="testingEventBinding()">click</button>
{{eventBindingData}} -->


<!--two way data binding-->

<!-- <input type="text" [(ngModel)]="twoWayBindingData">
{{twoWayBindingData}}
<button (click)="test()">click me...</button>


<app-login></app-login>
<app-signup></app-signup>-->


<router-outlet></router-outlet>

 