<div class="container">
<mat-toolbar color="primary">
    <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
    <div class="div-home">

    </div>
    <button routerLink="" mat-raised-button color="accent"><mat-icon>home</mat-icon>home</button>&nbsp;
    <button mat-raised-button color="accent" (click)="hotelRgistration()">Hotel ragistration</button>&nbsp;
    <button mat-raised-button color="accent" (click)="hotelList()"><mat-icon>list</mat-icon>My Hotel lists</button>
</mat-toolbar><br>
<mat-form-field class="seachBox">
    <mat-label>Search Hotels</mat-label>
    <input matInput>
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>&nbsp;
<div *ngIf="showTable" class="table-div">
   
    <table *ngIf="userHotelDetails.length>0 && showTable">
        <!-- <tr>
            <th *ngFor="let name of tableHeading">{{name}}</th>
        </tr> -->
        <tr>
            <th>Hotel name</th>
            <th>Hotel Address</th>
            <th>Hotel Contact</th>
            <th>Hotel Menu</th>
            <th>Rooms Availability</th>
            <th>Rooms Class</th>
            <th>Edit</th>
            <th>Delete</th>


            
        </tr>
        <tr *ngFor="let data of userHotelDetails">
            <td>{{data.hotelName}}</td>
            <td>{{data.hotelAddress}}</td>
            <td>{{data.hotelContact}}</td>
            <td>{{data.hotelMenu}}</td>
            <td>{{data.roomsAvailable}}</td>
            <td>{{data.roomClass}}</td>
            <td><mat-icon matSuffix (click)="edit(data.id)">mode_edit</mat-icon></td>
            <td><mat-icon (click)="delete(data.id)">delete</mat-icon></td>
        </tr>
    </table>

</div>

</div>