.h2{
    flex: 1 1;
}
table,tr,td,th{
    border: 2px solid red;
    border-collapse: collapse;
    padding: 4px 4px;
    background-color: rgb(208, 164, 202);
}
.container{
    background-image: url('/assets/images/image7.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}