.div-home{
    flex: 1 ;
}



.userlogin{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(250, 245, 245, 0.5);

}
.mat-field{
    width: 80%;
}
.login-button{
    width: 80%; 
}
.container{
    background-image: url('/assets/images/image10.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.mat-toolbar{
    border-radius: 10px;
}

// --------------------------------forget password------------------------------------------------------------


.forgetForm{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(250, 245, 245, 0.5);
}