<div class="container">

    <mat-toolbar color="primary">
        <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
        <div class="div-home">

        </div>
        <button mat-raised-button color="accent" (click)="back()">back</button>&nbsp;

        <button routerLink="" mat-raised-button color="accent">My Hotel</button>
    </mat-toolbar><br>
    <div class="div-form">
        <form [formGroup]="ownerLoginForm" class="ownerLogin-div" *ngIf="!showForgetPasswordForm">
            <mat-toolbar color="accent" class="mat-toolbar">
                <span><mat-icon> local_hotel</mat-icon> Owner Login....</span>
            </mat-toolbar><br>
            <!-- <mat-card>
                <mat-card-header>
                    <mat-card-title>owner Login</mat-card-title>
                </mat-card-header>
            </mat-card><br> -->
            <mat-form-field class="login-formField">
                <mat-label>UserName</mat-label>
                <input matInput formControlName="username" (keyup)="userInput()">
                <mat-hint *ngIf="!ownerLoginForm.get('username')?.touched">Enter UserName Here</mat-hint>
                <mat-error *ngIf="ownerLoginForm.get('username')?.errors?.['required']">UserName is required</mat-error>
                <mat-error *ngIf="ownerLoginForm.get('username')?.errors?.['pattern']">pattern is not match</mat-error>
                <mat-error
                    *ngIf="ownerLoginForm.get('username')?.errors?.['pattern'] && ownerLoginForm.get('username')?.errors?.['minlength']">minimum
                    2 characters required</mat-error>
            </mat-form-field>&nbsp;<br>
            <mat-form-field class="login-formField">
                <mat-label>password</mat-label>
                <input matInput formControlName="password" [type]="showPass? 'text' : 'password'">
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="!showPass">visibility</mat-icon>
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="showPass">visibility_off</mat-icon>
                <mat-hint *ngIf="!ownerLoginForm.get('password')?.touched">Enter password Here</mat-hint>
                <mat-error *ngIf="ownerLoginForm.get('password')?.errors?.['required']">password is required</mat-error>

            </mat-form-field>&nbsp;<br><br>
            <button mat-raised-button color="primary" (click)="login()" class="login-button">login</button><br><br>
            <button mat-raised-button color="primary" (click)="forgetPassword()" *ngIf="forgetPass">Forget password..</button><br><br>
             <a routerLink="/owner/ownerSignup">New Owner Ragistration..?</a>&nbsp;<br>

            <!-- <a routerLink="/owner/ownerHome" (click)="forgetPassword()">Forget password..</a>&nbsp; -->



        </form>
    </div>

    <div>
        <form [formGroup]="ownerForgetPasswordForm" class="forgetForm" *ngIf="showForgetPasswordForm">
            <mat-toolbar color="accent" class="mat-toolbar">
                <span><mat-icon> local_hotel</mat-icon> Forget Password....</span>
            </mat-toolbar><br>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="newPassword">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword">
            </mat-form-field><br>
             <mat-form-field>
                <mat-label>ReconFirm Password</mat-label>
                <input matInput formControlName="reConfirmPassword">
            </mat-form-field><br>
            <button mat-raised-button color="primary" (click)="submit()">submit</button>
        </form>
    </div>


</div>