.div-home{
    flex: 1 1;
}
.table,tr,td,th{
    border: 2px solid rgb(11, 10, 10);
    // border-collapse: collapse;
    padding: 4px 4px;
    text-align: center;
    background-color: rgba(250, 245, 245, 0.5);
}