<div class="all-div">
<mat-toolbar color="primary">
    <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
    <div class="div-home">

    </div>
<button mat-raised-button color="accent" (click)="journey('admin')">Admin</button>&nbsp;
<button mat-raised-button color="accent"(click)="journey('owner')">Owner</button>&nbsp;
<button mat-raised-button color="accent"(click)="journey('User')">User</button>&nbsp;
<button mat-raised-button color="accent" *ngIf="showLogout">logout</button>
</mat-toolbar>
<div>
    <marquee><h1 class="h1">Discover Peaceful Serenity and The perfect place for getaways...Book Your seats in GetSetBooking...</h1></marquee>
    
</div>


</div> 
