<div class="all-div">
<mat-toolbar color="primary">
    <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
    <div class="div-home">

    </div>
<button mat-raised-button color="accent" (click)="journey('admin')">Admin</button>&nbsp;
<button mat-raised-button color="accent"(click)="journey('owner')">Owner</button>&nbsp;
<button mat-raised-button color="accent"(click)="journey('User')">User</button>&nbsp;
<button mat-raised-button color="accent" *ngIf="showLogout">logout</button>
</mat-toolbar>
<div>
    <marquee><h1 class="h1">Discover Peaceful Serenity and The perfect place for getaways...Book Your seats in GetSetBooking...</h1></marquee>
</div>

<div class="div-searchbox">
<h2 class="h1">Most viewed Hotels..</h2>
<mat-form-field class="seachBox">
    <mat-label>Search Location..</mat-label>
    <input matInput>
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>&nbsp;
</div>

<div class="card-container">
    
    <mat-card class="card">
      <img mat-card-image src="/assets/images/image4.jpg" alt="Image 1" class="img">
      <mat-card-content>
        <h3>maharaja hotel,satara</h3>
        <button mat-button>Button 1</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <img mat-card-image src="/assets/images/image3.jpg" alt="Image 2" class="img">
      <mat-card-content>
        <h3>rajatandri hotel,satara</h3>
        <button mat-button>Button 2</button>
      </mat-card-content>
    </mat-card><br>
    <mat-card class="card">
        <img mat-card-image src="/assets/images/image3.jpg" alt="Image 2" class="img">
        <mat-card-content>
          <h3>rajatandri hotel,satara</h3>
          <button mat-button>Button 2</button>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <img mat-card-image src="/assets/images/image3.jpg" alt="Image 2" class="img">
        <mat-card-content>
          <h3>rajatandri hotel,satara</h3>
          <button mat-button>Button 2</button>
        </mat-card-content>
      </mat-card>
        <mat-card class="card">
        <img mat-card-image src="/assets/images/image3.jpg" alt="Image 2" class="img">
        <mat-card-content>
          <h3>rajatandri hotel,satara</h3>
          <button mat-button>Button 2</button>
        </mat-card-content>
      </mat-card>
  </div><br><br><br><br><br><br>
  <footer>
    <div class="footer">
      <p>© 2023 GetSetBooking.com L.P. All rights reserved.</p>
      <a href="">Privacy Policy</a>&nbsp;&nbsp;
      <a href="">help </a>&nbsp;&nbsp;
      <a href="">terms and conditions </a>&nbsp;&nbsp;
      <a href="">About Us </a>
    </div>
</footer>
  
</div> 


