<div>
    <mat-toolbar color="primary">
        <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
        <div class="div-home">

        </div>
        <!-- <button mat-raised-button color="accent" (click)="back()">back</button>&nbsp;

        <button routerLink="" mat-raised-button color="accent">My Hotel</button> -->
    </mat-toolbar><br>
    <div class="div-form">
        <form [formGroup]="adminLoginForm" class="adminlogin">
            <mat-toolbar color="accent" class="mat-toolbar">
                <span><mat-icon> local_hotel</mat-icon> Admin Login....</span>
            </mat-toolbar><br>
            <mat-form-field>
                <mat-label>AdminName</mat-label>
                <input matInput formControlName="adminName">
            </mat-form-field><br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="showPass? 'text' : 'password'">
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="!showPass">visibility</mat-icon>
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="showPass">visibility_off</mat-icon>

            </mat-form-field><br>
            <button mat-raised-button color="primary" (click)="login()" class="login-button">login</button><br><br>
            <a routerLink="">New Admin Ragistration..?</a>&nbsp;

        </form>

    </div>



</div>