.container{
    background-image: url('/assets/images/image4.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.div-form{
    width: 900px;
    height: 550px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(220, 233, 237);
}
.form-field{
    width:400px;
}
.form-field1{
    width:800px;
}
.mat-toolbar{
    border-radius: 10px;
}