.div-home{
    flex: 1 1;
}
.mat-card{
    background-color: rgba(250, 245, 245, 0.5);
}
.img-mat{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.mat-card-div{
    background-image: url('/assets/images/image14.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgba(250, 245, 245, 0.5) ;
}
.seachBox{
    margin-left: 40%;
}
.searchBox-div{
    background-color:rgba(0, 0, 0, 0.2) ;
}