<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pune Collage of Engineering</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-light" (click)="studentList()">Student List</button></li>&nbsp;
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Ragistration Form</a> -->
            <button type="button" class="btn btn-light" (click)="ragistrationForm()">Ragistration Form</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
