<div class="div-signup">
    <form class="form-signup" [formGroup]="signUpForm">
        <h2 class="heading-signup">SignUp Form</h2><br>
        <label class="label-signup"> Fullname:</label><br>
        <input class="input-signup" type="text" formControlName="fullname"><br>
        <span class="err-signup1"
            *ngIf="!signUpForm.get('fullname')?.touched && !signUpForm.get('fullname')?.valid && !signUpForm.get ('fullname')?.dirty">*Hint
            : enter your fullname here </span>
        <span class="err-signup"
            *ngIf="signUpForm.get('fullname')?.errors?.['required'] && signUpForm.get('fullname')?.touched">*name is
            required</span>
        <span class="err-signup" *ngIf="signUpForm.get('fullname')?.errors?.['pattern']">*full name
            only should have alphabates</span>
        <span class="err-signup" *ngIf="signUpForm.get('fullname')?.errors?.['whiteSpace']">*name should not contain
            white space</span><br>

        <label class="label-signup"> Email:</label><br>
        <input class="input-signup" type="text" formControlName="email"><br>
        <span class="err-signup"
            *ngIf="signUpForm.get('email')?.errors?.['required'] && signUpForm.get('email')?.touched">*email is
            required</span>
        <span class="err-signup" *ngIf="signUpForm.get('email')?.errors?.['pattern']">*match the pattern</span><br>
        <label class="label-signup"> Contact:</label><br>
        <input class="input-signup" type="text" formControlName="contact" maxlength="10"><br>
        <span class="err-signup"
            *ngIf="signUpForm.get('contact')?.errors?.['required'] && signUpForm.get('contact')?.touched">*contact is
            required</span>
        <span class="err-signup" *ngIf="signUpForm.get('contact')?.errors?.['pattern']">*accept integers only
        </span><br>

        <label class="label-signup"> Address:</label><br>
        <input class="input-signup" type="text" formControlName="address"><br>
        <label class="label-signup"> State:</label><br>
        <input class="input-signup" type="text" formControlName="state"><br>
        <label class="label-signup"> Gender:</label><br>
        <input class="input-signup" type="radio" name="gender" value="Male" formControlName="gender">Male<br>
        <input class="input-signup" type="radio" name="gender" value="Female" formControlName="gender">Female<br>
        <input class="input-signup" type="radio" name="gender" value="Other" formControlName="gender">Other<br>
        <button class="btn-signup" [disabled]="!signUpForm.valid" (click)="submit()">submit</button>&nbsp;



    </form>
    <div>
        <label>Full Name:</label><br>
        <input type="text" [(ngModel)]="studentName" (blur)="inpValue()">
    </div>

</div>
