.ownersignUp-div{
    
}
.signupForm{
    width: 450px;
    height: 730px;
    text-align: center;
    margin: auto;
    border: 2px solid black;

    
}
.h2{
    color: blueviolet;
}
.form-field{
    width: 80%;
}