<div class="div-signup">


    <mat-toolbar color="primary">
        <h2 class="h2"><mat-icon> local_hotel</mat-icon>&nbsp;GetSetBooking..</h2>
        <div class="div-home">

        </div>
        <button mat-raised-button color="accent" (click)="back()">back</button>&nbsp;

        <button routerLink="" mat-raised-button color="accent">My Hotel</button>
    </mat-toolbar><br>
    <div class="ownersignUp-div">
        <form [formGroup]="ownerSignupForm" class="signupForm">
            <mat-toolbar class="mat-toolbar" color="accent">
                <span class="span-toolbar"><mat-icon> local_hotel</mat-icon> Owner Ragistration....</span>
            </mat-toolbar><br>
            <!-- <h2 class="h2">Owner Details..</h2> -->
            <mat-form-field class="form-field">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="fullName">
                <mat-hint *ngIf="!ownerSignupForm.get('fullName')?.touched">Enter Full name here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('fullName')?.errors?.['required']">Full
                    name is required</mat-error>
                <mat-error
                    *ngIf="!ownerSignupForm.get('fullName')?.errors?.['pattern'] && ownerSignupForm.get('fullName')?.errors?.['minlength']">minimum
                    2 characters required</mat-error>
                <mat-error *ngIf="ownerSignupForm.get('fullName')?.errors?.['pattern']">only alphabates
                    accepted</mat-error>
                    <mat-error *ngIf="ownerSignupForm.get('fullName')?.errors?.['whiteSpace']">space is not required</mat-error>

            </mat-form-field>&nbsp;
            <mat-form-field class="form-field">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="userName">
                <mat-hint *ngIf="!ownerSignupForm.get('userName')?.touched">Enter UserName Here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('userName')?.errors?.['required']">UserName is
                    required</mat-error>
                <mat-error
                    *ngIf="!ownerSignupForm.get('userName')?.errors?.['pattern'] && ownerSignupForm.get('userName')?.errors?.['minlength']">minimum
                    2 characters required</mat-error>
                <mat-error *ngIf="ownerSignupForm.get('userName')?.errors?.['pattern']">pattern is not match</mat-error>

            </mat-form-field>&nbsp;<br>
            <mat-form-field class="form-field">
                <mat-label>PAN Number</mat-label>
                <input matInput formControlName="panNumber" maxlength="10">
                <mat-hint *ngIf="!ownerSignupForm.get('panNumber')?.touched">Enter PAN Number Here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('panNumber')?.errors?.['required']">PAN Number is
                    required</mat-error>
                <mat-error *ngIf="ownerSignupForm.get('panNumber')?.errors?.['pattern']">pattern is not match
                </mat-error>
            </mat-form-field>&nbsp;
            <mat-form-field class="form-field">
                <mat-label>Contact</mat-label>
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234" formControlName="contact" maxlength="10">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-hint *ngIf="!ownerSignupForm.get('contact')?.touched">Enter Contact Here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('contact')?.errors?.['required']">contact is required</mat-error>
                <mat-error *ngIf="ownerSignupForm.get('contact')?.errors?.['pattern']">pattern is not match</mat-error>

            </mat-form-field>&nbsp;<br>
            <mat-form-field class="form-field1">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email">
                <mat-hint *ngIf="!ownerSignupForm.get('email')?.touched">Enter email Here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('email')?.errors?.['required']">email is required</mat-error>
                <mat-error *ngIf="ownerSignupForm.get('email')?.errors?.['pattern']">pattern is not match</mat-error>
            </mat-form-field>&nbsp;<br>
            <mat-radio-group formControlName="gender">
                <mat-label>gender :</mat-label>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Other">Other</mat-radio-button><br>
                <!-- <mat-hint *ngIf="!ownerSignupForm.get('gender')?.touched">Enter gender Here</mat-hint> -->
                <mat-error *ngIf="ownerSignupForm.get('gender')?.errors?.['required']">gender is required</mat-error>
            </mat-radio-group><br>
            <mat-form-field class="form-field">
                <mat-label>password</mat-label>
                <input matInput formControlName="password" [type]="showPass? 'text' : 'password'">
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="!showPass">visibility</mat-icon>
                <mat-icon matSuffix (click)="visiblepass()" *ngIf="showPass">visibility_off</mat-icon>
                <mat-hint *ngIf="!ownerSignupForm.get('password')?.touched">Enter password Here</mat-hint>
                <mat-error
                    *ngIf="ownerSignupForm.get('password')?.touched && ownerSignupForm.get('password')?.errors?.['required']">password
                    is
                    required</mat-error>

            </mat-form-field>&nbsp;
            <mat-form-field class="form-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" [type]="showConfPass? 'text' : 'password'">
                <mat-icon matSuffix (click)="visibleconfPass()" *ngIf="!showConfPass">visibility</mat-icon>
                <mat-icon matSuffix (click)="visibleconfPass()" *ngIf="showConfPass">visibility_off</mat-icon>
                <mat-hint *ngIf="!ownerSignupForm.get('confirmPassword')?.touched">Enter Confirm Password
                    Here</mat-hint>
                <mat-error *ngIf="ownerSignupForm.get('confirmPassword')?.errors?.['required']">confirm password is
                    required</mat-error>

            </mat-form-field><br><br>
            <button mat-raised-button color="primary" [disabled]="!ownerSignupForm.valid"
                (click)="submit()">Submit</button>&nbsp;
            <button mat-raised-button color="primary" (click)="back()">back</button>
        </form>
    </div>


</div>